html {
    scroll-behavior: smooth;
    font-family: 'Acme', sans-serif;
}
body {
    margin: auto 0 ;
    background-color: #D8DBE2;
    color: #373F51;
}

.app {
    display: flex;
    justify-content: space-evenly;
}

div {
    /* border: 1px solid black; */
}

.nav {
    background-color: red;
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%; 
    background-color: #A9BCD0;
}
a {
    color: #58A4B0;
    text-shadow: 1px 1px black;
}
a:visited {
    color: #58A4B0;
}

a:hover {
    color: yellow;
}

.link {
    display: inline-block;
}  

.heading-links {
    padding: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: bolder;
    margin-top: 10px;
}

main {
    margin-top: 20vh;
    font-size: 20px;

}

.about {
    padding-top: 20vh;
}
.work {
    padding-top: 20vh;
}

.contact {
    padding-top: 20vh;
}

.sub-heading {
    text-align: center;
    margin-top: 0;
}